.DS_Store
Thumbs.db
*.log
logs/
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
*.class
*.war
*.ear
.gradle/
**/.gradle/
spark-jobs/.gradle/
build/
**/build/
spark-jobs/build/
.classpath
.project
.settings/
.env
.env.*
docker-compose.override.yml
spark-warehouse/
metastore_db/
derby.log

